<app-modal-shell
  [open]="isOpen()"
  [title]="'payment_methods.edit' | translate"
  size="lg"
  (close)="close()"
>
  <form class="modal-form" [formGroup]="form" (ngSubmit)="submitEdit()">
    <div class="form-grid">
      <div class="field">
        <label for="pm-edit-type">
          <i class="fa-solid fa-credit-card"></i> {{ 'payment_methods.type' | translate }}
        </label>
        <select id="pm-edit-type" formControlName="type">
          <option value="card">{{ 'payment.card' | translate }}</option>
          <option value="other">{{ 'payment.other' | translate }}</option>
        </select>
      </div>
      <div class="field">
        <label for="pm-edit-name">
          <i class="fa-solid fa-signature"></i> {{ 'payment_methods.name' | translate }}
        </label>
        <input id="pm-edit-name" type="text" formControlName="name" />
        @if (form.controls.name.invalid && form.controls.name.touched) {
          <small class="error">{{ 'payment_methods.name_required' | translate }}</small>
        }
      </div>
    </div>

    @if (form.controls.type.value === 'card') {
      <div class="form-grid">
        <div class="field">
          <label for="pm-edit-card-type">
            <i class="fa-solid fa-id-card"></i> {{ 'cards.card_type' | translate }}
          </label>
          <select id="pm-edit-card-type" formControlName="card_type">
            <option value="credit">{{ 'cards.type_credit' | translate }}</option>
            <option value="debit">{{ 'cards.type_debit' | translate }}</option>
          </select>
        </div>
        <div class="field">
          <label for="pm-edit-brand">
            <i class="fa-solid fa-building-columns"></i> {{ 'cards.brand' | translate }}
          </label>
          <input id="pm-edit-brand" type="text" formControlName="brand" />
        </div>
        <div class="field">
          <label for="pm-edit-last4">
            <i class="fa-solid fa-hashtag"></i> {{ 'cards.last_4_digits' | translate }}
          </label>
          <input id="pm-edit-last4" type="text" formControlName="last_4_digits" maxlength="4" />
          @if (form.controls.last_4_digits.invalid && form.controls.last_4_digits.touched) {
            <small class="error">{{ 'cards.last_4_digits_numbers_only' | translate }}</small>
          }
        </div>
      </div>
    } @else {
      <div class="field">
        <label for="pm-edit-description">
          <i class="fa-solid fa-align-left"></i> {{ 'other_methods.description' | translate }}
        </label>
        <input id="pm-edit-description" type="text" formControlName="description" />
      </div>
    }

    <app-workspace-selector-list
      [workspaces]="ownerWorkspaces()"
      [selectedIds]="selectedWorkspaceIds()"
      [legend]="'payment_methods.workspace_selector_label' | translate"
      [hint]="'payment_methods.workspace_selector_hint' | translate"
      (selectedIdsChange)="updateWorkspaceSelection($event)"
    />
  </form>
  <ng-container footer>
    <button type="button" class="btn primary sm" (click)="submitEdit()" [disabled]="editSaving()">
      @if (editSaving()) {
        <i class="fa-solid fa-spinner fa-spin" aria-hidden="true"></i>
      }
      {{ 'common.save' | translate }}
    </button>
    <button type="button" class="btn secondary sm" (click)="close()">
      {{ 'common.cancel' | translate }}
    </button>
  </ng-container>
</app-modal-shell>
